:root{
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
  justify-items: center;
  align-items: center;
  

}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  
  justify-self: center;
  margin:  auto auto;
  background-color: rgb(25, 25, 25);
  border-radius: 1em;
  padding: 2em;
}
.logo {
  height: 20%;
  width: 20%;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 100%;
  outline: auto;


}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
h1{
  color: white;
  font-size: 2em;
  margin: 1em 0 0 0;

}
h2{
  color: rgba(255, 255, 255, 0.75);
  font-size: 1em;
  font-weight: normal;
  margin: 1em 0 0 0;
 
 
}
h3{
  color: rgba(255, 255, 255, 0.75 );
  font-size: 0.8em;
  font-weight: normal;
  margin: 0 0 0 0;

}
.socials {
  display: flex;
  gap: 1em;
  margin-top: 1em;
  background-color: rgb;

}
a {

  font-size: 2em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.653);
}
a:hover {
  color: rgba(255, 255, 255, 0.9);
}
button {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  padding: 0.5em 1em;
  font-size: 1.2em;
  border-radius: 0.5em;
  cursor: pointer;
}
button:hover {
  transition: all 0.5s ease;
  background-color: rgba(255, 255, 255, 0.75);
  color: rgb(0, 0, 0);
}


